$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #E5DBD3;
  --secondary: #292828;
  --header-height: 50px;
  --hero-duration: 3000ms;
}

a {
  color: inherit;
  text-decoration-color: transparent;
  transition: 100ms;

  &:hover {
    text-decoration-color: inherit;
  }
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: 'JetBrains Mono', monospace;
}

p {
  font-family: 'Lato', sans-serif;
}